@import "./variables";
@import "./spacing";

header {
  text-align: left;
}

button {
  @media (prefers-color-scheme: dark) {
    color: darken(white, 10%);
  }
}

h1 {
  color: var(--text-light);
}

body {
  max-width: none;
}

.btn {
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.container {
  max-width: 45rem;
  margin: 0 auto;
}

.text-light {
  color: var(--text-light);
  @media (prefers-color-scheme: dark) {
    color: var(--accent);
  }
}

.text-accent-light {
  color: var(--accent-light);
}

.text-accent {
  color: var(--accent);
}

.text-marked {
  color: var(--marked);
}

.font-small {
  font-size: 0.9rem;
}

ul {
  padding-left: 1.5rem;
}

.bg-light {
  background-color: var(--accent-bg);
}

.flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-top {
  align-items: top;
}

.border {
  border: 1px solid var(--border);
}

.border-bottom {
  border-bottom: 1px solid var(--border);
}

.br1 {
  border-radius: 0.2rem;
}

.mx40 {
  max-width: 40%;
}

.mx60 {
  max-width: 60%;
}

.mx80 {
  max-width: 80%;
}

.mx100 {
  max-width: 100%;
}

.filter-gray {
  filter: grayscale(1);
}

.filter-white {
  filter: brightness(0) invert(1);
}

.opacity-low {
  opacity: 0.6;
}
