.contentWrapper {
  position: relative;
  margin-bottom: 42px;
  border: 1px solid #80808033;
  border-radius: 3px;
  padding: 0 12px;
}

.badge {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 12px;
}

.descriptionItem {
}
