.Nav {
    display: flex;
    justify-content: center;
    padding: 18px 0 12px;
}

.PdfToggle {
    background: coral;
    padding: 8px 16px;
    border-style: none;
    box-shadow: 0px 2px 6px #dadada;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}